/* ---- RESET/BASIC STYLING ---- */
* {
    padding-top: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  .board {
    margin: 0;
    padding: 0;
          --s: 34px; /* control the size (the circle diameter) */
          --c1: #6481bb;
          --c2: #343434;
  
          --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
          background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
            repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
            repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
          background-size: calc(4*var(--s)) calc(4*var(--s));
  }
  .diseño-caja-form{

    border-radius: 50px;
    background: #fffafa;
    box-shadow:  10px 0px 60px #000000,
           -0px -1px 60px #000000;
           
  }
  
  /* ---- FORM ---- */
  #todo-form {
    padding: 132px 32px 100px;
  }
  
  #todo-form input {
    padding: 12px;
    margin-right: 12px;
    width: 225px;
  
    border-radius: 4px;
    border: none;
  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: white;
  
    font-size: 14px;
    outline: none;
  }
  
  #todo-form button {
    padding: 12px 32px;
  
    border-radius: 4px;
    border: none;
  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    color: black;
  
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* ---- BOARD ---- "Mis tableros"*/
  .lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  
    padding: 24px 32px;
  
    overflow: scroll;
    height: 100%;
  }
  
  .heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
  
    background: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  
    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;
  
    flex-shrink: 0;
  }
  
  .task {
    background: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  
    padding: 12px;
    border-radius: 4px;
  
    font-size: 16px;
    cursor: move;
  }
  
  .is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
  }